.icon-main{
    font-size: 60pt;
}
.bg-alert{
    background-color: #D1E7DD;
}
.text-alert{
    font-size: 15pt;
}
.padrao-tamanhos{
    background-color: #ffffff;
    max-width: 640px;
    max-height: 850px;
}
